answer_handler_dev.py
.venv/*
.vscode/*
__pycache__/*
UI.py
Tests.py
.venv/pyvenv.cfg
parser_utils_dev.py
main_dev.py
Builds/*
icon.ico
favicon.ico
icon2.ico
DFM_Workspace.code-workspace
src/__pycache__/*
ServerStatus/__pycache__/*
.venv-DFM-Bot/*
.venv-DFM-Bot/